<div class="first_container">
     
  <div class="singleSlide">

    <img src="/img/demo1.jpg" alt="canada" style="width: 100%" />

  </div>
  <div class="singleSlide">

    <img src="/img/first_container_pic4.jpg" style="width: 100%;">
  </div>


  <div class="singleSlide fade">

    <img src="/img/first_container_pic5.jpg" style="width:100%">

  </div>
  
  <div class="top-left_">
    
    <p class="para">
      Easy fund is a part of crowdfunding, an approach to raise assets for a particular reason or task by requesting an enormous number from individuals to give cash, ordinarily in limited quantities, and generally during a moderately brief timeframe, like a couple of month
    </p>
   
      <a  href="/article/how_it_works.html"/>
        Read more </a
      >
  
  </div>

  <div class="top-right_">
    
    <h2> Help everyone with everyone </h2>
    

    <p> Here we’re trying to build a similar room for those who needs help to grow their business or project to level up one step further to reach out a successful outcome and we hope “Easy Fund” will be the pillar of everyone’s backbone.</p>

    <button> <a style="text-decoration: none; color: #f2f2f2;" href="/discover/all-projects">Discover project</a></button>
    </div>
  </div>