<div class="project_category">
  <div class="section-container">
    <h2 class="discover-title">Discover project by categories</h2>
    <div class="card-list flex justify-center">
      <div class="category-div">
        <a href="">
          <i class="ph-first-aid-kit-bold"></i>
          <p>MEDICAL</p>
        </a>
      </div>
      <div class="category-div">
        <a href="/engineering/engineering-projects">
          <i class="ph-first-aid-kit-bold"></i>
          <p>ENGINEERING</p>
        </a>
      </div>
      <div class="category-div">
        <a href="/business/business-projects">
          <i class="ph-briefcase-metal-bold"></i>
          <p>BUSINESS</p>
        </a>
      </div>
      <div class="category-div">
        <a href="">
          <i class="ph-users-three-bold"></i>
          <p>SOCIAL SCIENCE</p>
        </a>
      </div>
      <div class="category-div">
        <a href="">
          <i class="ph-first-aid-kit-bold"></i>
          <p>medical</p>
        </a>
      </div>
      <div class="category-div">
        <a href="">
          <i class="ph-first-aid-kit-bold"></i>
          <p>medical</p>
        </a>
      </div>
      <div class="category-div">
        <a href="">
          <i class="ph-first-aid-kit-bold"></i>
          <p>medical</p>
        </a>
      </div>
      <div class="category-div">
        <a href="">
          <i class="ph-dots-three-outline-fill"></i>
          <p>OTHERS</p>
        </a>
      </div>
    </div>
  </div>
</div>
