<!-- <footer>
  <section class="section-container flex footer-container">
    <div class="home">
      <p>Home</p>
      <p>Discover projects</p>
      <p>Start fundraising</p>

      <p>How it works</p>
      <p>How to write a successful story</p>
      <p>Fundraising Tips</p>
      <p>Category tips</p>
    </div>
    <div class="learn-more">
      <h4>Learn more</p>
      
    </div>
    <div class="about-us">
        <h4>About us</h4>
    </div>
  </section>
</footer> -->

<footer>
  <div class="footer">
    <div class="footer_section">
      <div class="first_column">
        <h3>Easy Fund</h3>
        <p>
          Help us to give you best outcome possibilities growth and that’s all
          we care about.
        </p>
      </div>

      <hr class="hr" />
      <div class="second_column">
        <div class="container">
          <button>ABOUT</button>

          <p>Our Story</p>
          <p><a href="/discover/all-projects">Discover</a></p>
          <p><a href="/general">Create Project</a></p>
        </div>
      </div>

      <hr class="hr" />
      <div class="third_column">
        <div class="container">
          <button>FAQ</button>

          <!-- <p><a href="#">Cookies</a></p> use this for link attachment -->
          <p>Privacy</p>
          <p><a href="#">Cookies</a></p>
          <p><a href="/article/how_it_works.html">Terms & Condition</a></p>
        </div>
      </div>

      <hr class="hr" />
      <div class="fourth_column">
        <div class="new_container">
          <button>CONTACT US</button>

          <p>Phone Number : 443-443-4455</p>
          <p>Mobile Number : 443-443-4455</p>
        </div>
        <div class="email_block">
          <input
            class="input"
            type="text"
            placeholder="Enter your email adress"
          />
          <i class="far fa-paper-plane"></i>
        </div>
      </div>

      <!-- <hr> -->
    </div>

    <div class="social_media_icon">
      <i class="fa fa-facebook-f"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-instagram"></i>
      <i class="fa fa-linkedin"></i>
    </div>

    <div class="ending_part">
      <p>
        <span id="footer_year"></span> Copyright easyfund Ltd . All rights
        reserved
      </p>
    </div>
  </div>
</footer>
<script>
  const today = new Date().toLocaleDateString().split("/")[2];
  document.getElementById("footer_year").innerHTML = today;
</script>
