<footer>
  <section class="section-container flex footer-container">
    <div class="home">
      <p>Home</p>
      <p>Discover projects</p>
      <p>Start fundraising</p>

      <p>How it works</p>
      <p>How to write a successful story</p>
      <p>Fundraising Tips</p>
      <p>Category tips</p>
    </div>
    <div class="learn-more">
      <h4>Learn more</p>
      
    </div>
    <div class="about-us">
        <h4>About us</h4>
    </div>
  </section>
</footer>
