body {
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}
.card-container {
  border: 1px solid black;
  width: 250px;
}
.card-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-list a {
  padding: 10px;
}

.card-container img {
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.title {
  height: 55px;
}

.amount-percent {
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
}

.progress {
  border-radius: initial;
  width: 100%;
  height: 10px;
}
progress::-webkit-progress-value {
  padding: 0;
  margin: 0;
  background: teal;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  height: 65px;
}

.percent {
  padding-right: 5px;
  text-align: end;
}

.category {
  padding: 10px 0;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.category i {
  font-size: 2rem;
}

.category span {
  font-size: 15px;
}

.amount {
  font-size: 15px;
}

.card-list {
  max-width: 1324px;
  margin: 150px auto;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 1399.98px) {
  .card-list {
    max-width: 1024px;
  }
}
@media (max-width: 1199.98px) {
  .card-list {
    max-width: 991px;
  }
}
@media (max-width: 991.98px) {
  .card-list {
    max-width: 767px;
  }
}
@media (max-width: 767.98px) {
  .card-list {
    max-width: 575px;
  }
  .card-container {
    max-width: 280px;
  }
}

@media (max-width: 575.98px) {
  .card-list {
    max-width: 100%;
  }
  .card-container {
    max-width: 200px;
  }
}

.card-container:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  opacity: 0.95;
}
