body {
  margin: 0;
}
.flex {
  display: flex;
}
.title h3 {
  font-size: 20px;
}

.section-container {
  max-width: 1324px;
  margin: 50px auto 0;
}

.section-title {
  padding: 20px 0;
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.category-title {
  padding: 20px 10px;
}

.card-container {
  border: 1px solid black;
  width: 250px;
}
.card-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-list a {
  padding: 10px;
}

.card-container img {
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.title {
  height: 55px;
}

.amount-percent {
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
}

.progress {
  width: 100%;
  height: 10px;
  border: initial;
}
progress::-webkit-progress-bar {
  background-color: #eeeeee;
}

progress::-webkit-progress-value {
  border-radius: initial;
  width: 100%;
  height: 10px;
  padding: 0;
  margin: 0;
  background: teal;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  height: 65px;
}

.percent {
  padding-right: 5px;
  text-align: end;
}

.category {
  padding: 10px 0;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.category i {
  font-size: 1.5rem;
}

.category span {
  font-size: 15px;
}

.amount {
  font-size: 15px;
}

.card-list {
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 1399px) {
  .section-container {
    max-width: 1024px;
  }
}
@media (max-width: 1199px) {
  .section-container {
    max-width: 991px;
  }
}
@media (max-width: 991px) {
  .section-container {
    max-width: 767px;
  }
  .second-section {
    position: relative;
    top: 80px;
  }
}
@media (max-width: 767.98px) {
  .section-container {
    max-width: 575px;
  }
  .card-container {
    max-width: 280px;
  }
}

@media (max-width: 575.98px) {
  .title h3 {
    font-size: 15px;
  }
  .card-list {
    max-width: 100%;
  }
  .card-container {
    max-width: 200px;
  }
}
@media (max-width: 456px) {
  .card-list {
    max-width: 100%;
  }
  .card-list a {
    padding: 2px;
  }
  .card-container {
    width: 180px;
  }
}

.card-container:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  opacity: 0.95;
}
