.project_category {
  padding: 30px 0;
}
.discover-title {
  font-size: 30px;
}
.project_category h2 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.category-div {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 200px;
}
.category-div a {
  display: block;
}
.category-div a:hover {
  opacity: 0.8;
}

.category-div i {
  color: teal;
  font-size: 80px;
}

.category-div p {
  font-size: 20px;
}

@media (max-width: 1399px) {
  .category-div {
    max-width: 250px;
  }
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
  .category-div {
    max-width: 180px;
  }
  .category-div p {
    font-size: 12px;
  }
  .category-div i {
    font-size: 60px;
  }
}
@media (max-width: 767.98px) {
  .category-div {
    max-width: 200px;
  }
  .category-div p {
    font-size: 15px;
  }

  .category-div i {
    font-size: 60px;
  }
}

@media (max-width: 575.98px) {
  .category-div {
    padding: 0;
    max-width: 150px;
    max-height: 150px;
  }
}
