* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cookie-container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main-header {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: normal;
}

.parent-border-black::after {
  content: " ";
  display: block;
  width: 100%;
  border-bottom: 0.5px dotted black;
  opacity: 0.25;
}

.summery-content {
  width: 100%;
}

.paragraph {
  width: 45%;
  margin: 25px auto;
}

.paragraph p {
  font-size: 1.2rem;
  line-height: 1.3;
  padding: 20px auto;
}

.line-green {
  width: 45%;
  margin: 50px auto 50px auto;
}

.one-fourth-line::after {
  content: " ";
  display: block;
  width: 8%;
  border-bottom: 1px solid rgb(0, 113, 128);
  border-width: 5px;
  /* opacity: 0.55; */
}

.common-div {
  width: 45%;
  margin: 0 auto;
}

.common-div h3 {
  font-weight: normal;
  font-size: 1.344rem;
  margin-bottom: 25px;
  color: black;
}

.common-div .content-para {
  font-size: 1.12rem;
  line-height: 1.4;
}

.content-para p {
  text-align: justify;
}

.sub-content-para {
  padding: 30px 20px 10px 20px;
}

.sub-content-para h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.sub-content-para p {
  font-size: 17px;
  text-align: justify;
  line-height: 1.33;
  margin-top: 5px;
}

.question-div {
  width: 45%;
  margin: 40px auto;
}

.question-div h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.question-div span {
  font-size: 1.22rem;
}

.question-div span a {
  text-decoration: none;
}

@media screen and (max-width: 1069px) {
  .paragraph {
    width: 70%;
  }
  .line-green {
    width: 70%;
  }
  .common-div {
    width: 70%;
  }
  .question-div {
    width: 70%;
  }
}

@media screen and (max-width: 769px) {
  .paragraph {
    width: 75%;
  }
  .line-green {
    width: 75%;
  }
  .common-div {
    width: 75%;
  }
  .question-div {
    width: 75%;
  }

  .main-header h1 {
    font-size: 2.89rem;
  }
}

@media screen and (max-width: 575px) {
  .paragraph {
    width: 100%;
    padding: 0 15px;
  }
  .line-green {
    width: 100%;
    padding: 0 15px;
  }
  .common-div {
    width: 100%;
    padding: 0 15px;
  }
  .question-div {
    width: 100%;
    padding: 0 30px;
  }
  .main-header h1 {
    font-size: 2rem;
  }
  .one-fourth-line::after {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .main-header h1 {
    font-size: 1.5rem;
  }
  .question-div span {
    font-size: 1rem;
  }
}
