* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.project-area {
  max-width: 1324px;
  margin: auto;
}

.head-container {
  margin-top: 50px;
  gap: 20px;
}

.left-area {
  width: 65%;
}

.right-area {
  width: 25%;
}
.gap {
  gap: 20px;
}

.column {
  flex-direction: column;
}

.story-container {
  width: 90%;
  margin: auto;
}

.dashboard {
  width: 100%;
  padding: 15px 0;
  background: rgb(29, 182, 182);
}

.dashboard p {
  text-align: center;
  font-size: 20px;
  color: #f2f2f2;
  font-weight: bold;
}

.user_story_page {
  position: relative;
  display: flex;
  width: 1000px;
  padding: 40px 0;
  margin: 40px auto;
}
.user_story_left_side {
  width: 690px;
}

.user_story_right_side {
  width: 300px;
  text-align: center;
}

.user_story_picture {
  text-align: center;
  display: block;
}
.user_story_picture img {
  object-fit: cover;
  max-width: 100%;
  height: 400px;
}

.caption_of_story {
  text-align: justify;
  margin: 30px 0;
  font-size: 24px;
  /* word-spacing: 0.5px; */
}

.story_teller {
  display: flex;
  margin: 30px 0;
}
.story_teller .user_profile {
  flex: 0%;
}

.user_profile span {
  font-size: 60px;
}
.story_teller .user_identity {
  flex: 85%;
}

.user_identity .username {
  font-size: 20px;
  margin: 0 20px 10px;
  padding-top: 10px;
}
.user_identity .identity {
  padding: 0;
  font-size: 20px;
  margin: 0 20px 10px;
}

#mainStory {
  resize: none;
  overflow: auto;
  margin: 20px 0;
  padding: 10px 0px;
  font-size: 15px;
  border: none;
  background-color: transparent;
  outline: none;
}

.main_story p {
  font-size: 17px;
  text-align: justify;
  margin-bottom: 20px;
}

.slick-next:before,
.slick-prev:before {
  color: teal;
  font-size: 30px;
}
.slick-next {
  right: 0;
}
.slick-track {
  width: 100%;
}

.collected_money_section {
  text-align: center;
  padding: 40px 0 20px 0;
  text-align: center;
}
.collected_money_section .amount_head {
  margin: 10px 0;
  font-size: 18px;
}

.collected_money_section .amount {
  font-weight: bold;
  padding-bottom: 10px;
}

.progress progress {
  width: 100%;
  height: 20px;
  border-radius: initial;
}
progress::-webkit-progress-value {
  padding: 0;
  margin: 0;
  background: teal;
}
progress::-webkit-progress-bar {
  background-color: #eeeeee;
}

.remaining_days {
  text-align: center;
}
.remaining_days .days {
  font-size: 21px;
}
.remaining_days .count {
  font-size: 21px;
  font-weight: bold;
}

.support_section {
  background-color: #f2f2f2;
  opacity: 0.8;
  padding: 20px 16px;
  margin: 20px 0;
}

.support_option {
  background-color: rgb(2, 114, 114);
  width: 100%;
  padding: 14px 16px;
  border-radius: 5px;
}

.support_option p {
  text-align: center;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.payment_section {
  display: flex;
  margin: 4px 10px;
}
.payment_section img {
  width: 60px;
  border: 1px solid black;
  padding: 3px;
  margin: 0 10px;
}

.sharing_section {
  margin: 10px 0;
}
.sharing_section button {
  background: none;
  border: 1px solid rgb(2, 114, 114);
  color: rgb(2, 114, 114);
  width: 100%;
  padding: 12px 16px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.easy_fund {
  margin: 45px 0;

  background-color: rgb(231, 247, 247);
}

.easy_fund p {
  text-align: justify;
  padding: 5px 10px 10px;
}
.about_easy_fund {
  text-align: left;
  padding: 5px 10px;
  display: flex;
}

.help_by_sharing {
  margin: 20px 0;
  text-align: center;
}
.help_by_sharing p {
  color: rgb(97, 97, 97);
  font-weight: bold;
  font-size: 24px;
}
.help_by_sharing .social_icon {
  padding: 20px 0;
  margin: 10px 0;
}
.social_icon i {
  font-size: 38px;
  padding: 0 20px;
}

.copy_link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy_link input {
  padding: 10px 16px;
  font-size: 18px;
  width: 30%;
}
.copy_link button {
  padding: 10px 18px;
  margin: 10px;
  font-size: 18px;
  color: white;
  background-color: teal;
  font-weight: bold;
  cursor: pointer;
}

.button_container {
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.button_container hr {
  margin: 1rem 0 0 0;
}
.button_container .flex_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #f2f2f2;
}

.flex_container .btn {
  width: 1024px;
  padding: auto;
}

.suggested_btn {
  width: 100%;
  text-align: center;
  padding: 10px 12px;
  cursor: pointer;
  color: #f2f2f2;
  font-weight: 600;
  border: none;
}

#success {
  display: none;
}
#success button {
  background-color: teal;
}
#failure {
  display: none;
}

#failure button {
  background-color: red;
  opacity: 0.6;
}
#funded {
  display: none;
}
#funded button {
  background-color: cadetblue;
}
.flex_container .right_btn_complete {
  width: 50%;
}
.flex_container .left_btn_back {
  width: 30%;
}
.right_btn_complete button {
  width: 100%;
  background-color: rgb(0, 188, 188);
  color: #f2f2f2;
  font-weight: bold;
  padding: 10px 0;
  border: none;
  border-radius: 8px;
}
.left_btn_back button {
  width: 100%;
  background: none;
  border: none;
}

.support_section {
  background-color: #f2f2f2;
  opacity: 0.8;
  padding: 20px 16px;
  margin: 20px 0;
}

.support_option {
  background-color: rgb(2, 114, 114);
  width: 100%;
  padding: 14px 16px;
  border-radius: 5px;
}

.support_option p {
  text-align: center;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.payment_section {
  display: flex;
  justify-content: center;
  margin: 4px 10px;
}
.payment_section img {
  width: 60px;
  height: 40px;
  border: 1px solid black;
  padding: 3px;
  margin: 0 10px;
}

.sharing_section {
  margin: 10px 0;
}
.sharing_section button {
  background: none;
  border: 1px solid rgb(2, 114, 114);
  color: rgb(2, 114, 114);
  width: 100%;
  padding: 12px 16px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.project-ended-message {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.project-ended-message button {
  border: none;
  background: none;
  font-size: 17px;
  padding: 12px 10px;
  color: gray;
  font-weight: bold;
}
.easy_fund {
  margin: 45px 0;

  background-color: rgb(231, 247, 247);
}

.easy_fund p {
  text-align: justify;
  padding: 5px 10px 10px;
}
.about_easy_fund {
  text-align: left;
  padding: 5px 10px;
  display: flex;
}

.help_by_sharing {
  margin: 20px 0;
  text-align: center;
}
.help_by_sharing p {
  color: rgb(97, 97, 97);
  font-weight: bold;
  font-size: 24px;
}
.help_by_sharing .social_icon {
  padding: 20px 0;
  margin: 10px 0;
}
.social_icon i {
  font-size: 38px;
  padding: 0 20px;
}

.copy_link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy_link input {
  padding: 10px 16px;
  font-size: 18px;
  width: 30%;
}
.copy_link button {
  padding: 10px 18px;
  margin: 10px;
  font-size: 18px;
  color: white;
  background-color: teal;
  font-weight: bold;
  cursor: pointer;
}

/* for attachment */
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.show_middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.show_middle p {
  font-size: 22px;
  color: red;
}
.show_middle a {
  border: 2px solid teal;
  padding: 10px 12px;
  text-decoration: none;
  font-weight: bold;
}

.more-supporters {
  margin: 0 10px;
}

.more-supporters i {
  font-size: 60px;
  cursor: pointer;
}

figure {
  display: flex;
  flex-flow: column;
  padding: 5px;
  margin: auto;
}

figcaption {
  position: relative;
  bottom: 21px;
  background-color: black;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
  opacity: 0.4;
}

.important-red-msg {
  margin-top: 30px;
}
.important-red-msg p {
  text-align: center;
  font-style: italic;
  color: red;
}

@media (max-width: 1399px) {
  .project-area {
    max-width: 1024px;
  }
}
@media (max-width: 1199px) {
  .project-area {
    max-width: 991px;
  }
}
@media (max-width: 991px) {
  .project-area {
    max-width: 767px;
  }
  .second-section {
    position: relative;
    top: 80px;
  }
}
@media (max-width: 767.98px) {
  .project-area {
    max-width: 575px;
  }
  .head-container {
    align-items: center;
    flex-direction: column;
  }
  .support-container {
    align-items: center;
    flex-direction: column;
  }
  .story-container {
    flex-direction: column;
  }
  .right-area {
    width: 70%;
  }
}

@media (max-width: 575.98px) {
}
@media (max-width: 456px) {
}
