.third-section {
  background-color: #f0faf7;
}

.third-section a {
  margin: auto;
  text-align: end;
  padding: 0 20px 20px;
  font-size: 15px;
  display: block;
  text-decoration: underline;
}

.card {
  flex: 1;
  padding: 20px;
}

.card i {
  color: teal;
  font-size: 50px;
}

.card h4 {
  font-size: 20px;
  font-weight: 700;
}

.card p {
  line-height: 1.5;
  margin: 10px 0;
}

@media (max-width: 767.98px) {
  .block {
    display: block;
  }
}
