<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css"
    />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/cookie.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/usernavbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />

    <script src="https://unpkg.com/phosphor-icons"></script>
    <script src="/js/toastify.js"></script>
    <script src="/js/moment.js"></script>
  </head>
  <body>
    <%- include("../../partials/navbar.ejs") %>

    <div class="cookie-container">
      <div class="main-header">
        <h1>Cookie & Other Technologies</h1>
      </div>

      <div class="parent-border-black"></div>

      <div class="summery-content">
        <div class="paragraph">
          <p>
            This policy explains our use of cookies and other technologies to
            understand, improve and protect EasyFund. If you see a capitalized
            word, it’s defined in our Terms of Use.
          </p>
        </div>
      </div>

      <div class="line-green">
        <div class="one-fourth-line"></div>
      </div>

      <div class="common-div">
        <h3>What they are</h3>

        <div class="content-para">
          <p>
            Cookies are small data files that are issued to your device when you
            visit a website and that store information about your use of a
            service. Pixel tags (which are also called clear GIFs, web beacons,
            or pixels) are little snippets of code or tiny images embedded on
            websites and in email that help us learn how you interact with our
            site and emails.
          </p>
        </div>
      </div>

      <div class="line-green">
        <div class="one-fourth-line"></div>
      </div>

      <div class="common-div">
        <h3>Why we use them</h3>

        <div class="content-para">
          <p>
            EasyFund uses cookies and these other technologies to help recognize
            you as a repeat visitor and, to improve the quality of our Services.
          </p>
        </div>
      </div>

      <div class="line-green">
        <div class="one-fourth-line"></div>
      </div>

      <div class="common-div">
        <h3>How they work</h3>

        <div class="content-para">
          <p>
            Some examples of the types of cookies and other technologies
            EasyFund uses:
          </p>
        </div>

        <div class="sub-content-para">
          <h4>Authentication</h4>
          <p>
            EasyFund uses authentication cookies and similar technologies to
            tell us when you’re logged in to EasyFund. This lets us show you
            personalized views related to your interests and connect you with
            projects like those you may already have backed.
          </p>
        </div>

        <div class="sub-content-para">
          <h4>Security</h4>
          <p>
            These cookies help protect your account from being accessed by
            anyone other than you, alert you and us when your account is
            accessed, and provide capabilities that allow us to disable any
            active sessions you have (for example, when you log out or change
            your password).
          </p>
        </div>

        <div class="sub-content-para">
          <h4>Performance</h4>
          <p>
            Performance cookies help us route traffic between servers and
            understand how EasyFund is performing, so we can provide you with
            the best experience possible. We may use third party software
            development kits (SDK) in our mobile apps to collect information
            about activity in the app, the type of device and operating system
            it is running on and how the app is functioning. For example an SDK
            may send us a report if the app crashes, and reports on which
            features of the app are used more than others.
          </p>
        </div>
      </div>

      <div class="line-green">
        <div class="one-fourth-line"></div>
      </div>

      <div class="question-div">
        <h2>Questions ?</h2>

        <span>
          If you have any questions or suggestions, please
          <a href="mailto:easyfund374@gmail.com">contact us</a>
        </span>
      </div>
    </div>

    <%- include("../../partials/footer.ejs") %>
  </body>
</html>
