<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="/img/favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css"
    />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/privacyPolicy.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/usernavbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />

    <script src="https://unpkg.com/phosphor-icons"></script>
    <script src="/js/toastify.js"></script>
    <script src="/js/moment.js"></script>
  </head>
  <body>
    <%- include("../../partials/navbar.ejs") %>

    <div class="privacy-container">
      <div class="main-header">
        <p>Privacy Policy</p>
      </div>

      <div class="parent-border-black"></div>
    </div>
  
    <div class="summery-content">

      <div class="paragraph">
        <p class="f-1">
          Thanks for visiting EasyFund’s 
          Privacy Policy. We’ve updated our 
          Policy as of June 30, 2022. Here are 
          some of the changes you’ll see:
  
  
        </p>
      </div>

      

     <div class="paragraph color-1 child">

      <p class="f-2">*  We’ve updated the Policy to reflect changes in data privacy laws.</p> 
      <p class="f-2">*  We’ve added additional detail about the categories of information you share with us</p>
     </div>
     

     <div class="paragraph last">

      <p class="f-1">
        Our core commitments regarding your privacy haven’t changed, including the commitment in our Charter to never sell your data.
       </p>
  
  
       <p class="f-1">
           As always, thanks for using EasyFund, and please let us know if you have any questions or feedback.
       </p>
     </div>
    </div>


    <div class="single-line">
      
      <span class="line-border-sky"></span>
    </div>


    <div class="common-div">

      <h3>Changes to This Policy</h3>

      <div class="content-para">
        We may update this Policy from time to time. If we do, we’ll let you know about any material changes, 
        either by notifying you on the Site or by sending you an email. New versions of this Policy will never apply retroactively—we’ll tell you the exact date they go into effect. If you keep using EasyFund after a change, that means you accept this Policy.
      </div>
    </div>


    
    <div class="common-div">

      <h3>Who We Are</h3>

      <div class="content-para">
        EasyFund, OBE ( The Creative Independent, 
        OBE and its and their parents, subsidiaries, affiliates,  representatives, 
        consultants, “EasyFund,” “we,” or “us”)
         provides services that help people bring creative projects to life (our "Services").
          Our main service is a funding platform for creative projects. We are a Public Benefit Corporation 
          based in Dhaka, Bangladesh.
      </div>
    </div>



    
    <div class="common-div">

      <h3>How This Policy Applies</h3>

      <div class="content-para">
        This Policy describes the information we collect from you, how we use that information and our legal basis for doing so. It also covers whether and how that information may be shared and your rights and choices regarding the information you provide to us. If you see a capitalized word, it’s defined in our <a href="/article/how_it_works.html">Terms of Use</a>. 
        We use cookies and similar technologies, as described in our <a href="#">Cookie Policy</a>.

       
      </div>

      <div style="margin: 15px 0;" class="content-para">

        By using the Services offered by EasyFund, you’re acknowledging you have agreed to our Terms of Use and that you have read and understood this Privacy Policy and our Cookie Policy.
      </div>
    </div>


    <div class="common-div">

      <div class="public-aware">
        <p>Information that isn’t shared publicly</p>
         <span>The following data will not be publicly displayed or revealed to other users:</span>
      </div>

      <ul>

        <li>  Any payment information you provide </li>
        <li>  Your password details </li>
        <li>  Your IP address </li>
        <li>  Your phone number </li>
        <li>  Your date of birth and other identity verification documentation (for creators) </li>
        <li>  Private profile information, in accordance with your preferences and</li>
        <li>  Communications like asking for support, send us questions or report a problem </li>

      </ul>
    </div>

    <div class="common-div">

      <h3>Security</h3>

      <div class="content-para">
        We take security seriously, and the security of your personal data is important to us. We follow industry-standard practices to protect the data we collect and maintain, including using Transport Layer Security (TLS) to encrypt information 
        as it travels over the internet. No method of transmission over the internet or electronic storage is completely secure, so EasyFund cannot guarantee its absolute security. Your account information is protected by a password, 
        which you should choose carefully and keep secure.
      </div>

      <div style="margin: 15px 0;" class="content-para">

        We have a Security Incident Response Team (SIRT) and protocol in place in the event of a data breach. We encourage the responsible disclosure of vulnerabilities of our Services by emailing easyfund374@gmail.com, and we will invite valid disclosures to our bug bounty program.
      </div>
    </div>

    <div class="single-line">
      
      <span class="line-border-sky"></span>
    </div>

    <div class="common-div updated_date">

      <span> Updated: June 2022</span>
    </div>

  </div>


  <%- include("../../partials/footer.ejs") %>
  </body>
</html>
