<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/preview.css" />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>
  <body>
<<<<<<< HEAD
    <% if( StoryTitle =='' || Amount =='' || Validity =='' || MainStory =='' ||
=======
    <% if( StoryTitle ==''|| Amount =='' || Validity ==''|| MainStory ==''||
>>>>>>> 1eaee6c3427b88bb49cd2355c01a534f0c3f81b5
    CoverPicture =='') { %>
    <div class="show_middle" role="alert">
      <img src="/img/error.png" alt="error" />
      <p>Information Error</p>
      <a href="/general"> Go Fill Up The Information First </a>
    </div>
    <% } else { %> <%- include('../../partials/story.ejs') %> <% } %>

    <script defer src="/js/validation/preview.js"></script>
    <script>
      sessionStorage.setItem("CurrentURL", window.location.href);
      window.setTimeout(function () {
        document.getElementById("mainStory").style.height =
          document.getElementById("mainStory").scrollHeight + "px";
      });
    </script>
  </body>
</html>
